
::ng-deep .p-inputtext:enabled:focus{
    box-shadow: 0 0 0 0.2rem #fde6ab;
}

::ng-deep .p-inputtext:hover{
    box-shadow: 0 0 0 0.2rem #fde6ab;
}

::ng-deep .p-listbox .p-listbox-list .p-listbox-item-group {
    background-color: var(--yellow-500);
}

::ng-deep .p-listbox .p-listbox-list .p-listbox-item {
    /* background-color: #ffda0741; */
    /* box-shadow: 0 0 0 0.2rem #fde6ab; */
}

::ng-deep .p-listbox .p-listbox-list .p-listbox-item.p-highlight{
    background: #ffe60060;
}

::ng-deep .p-listbox .p-listbox-list .p-listbox-item:focus{
    box-shadow: 0 0 0 0.2rem #fde6ab;
}