<div class="container">
  <h3>FLATS</h3>
  <div>
    <p-buttonGroup>
      <p-button
        label="Price"
        icon="pi pi-dollar"
        routerLink="/flats/price"
        replaceUrl="true"
      />
      <p-button
        label="Offers"
        icon="pi pi-hashtag"
        [routerLink]="'/flats/offers'"
        replaceUrl="true"
      />
    </p-buttonGroup>
    <div>
      <div class="flats-chart">
        <p-chart
          type="line"
          [data]="basicData"
          [options]="basicOptions"
        ></p-chart>
      </div>
      <p-table
        [value]="flatSeries"
        [paginator]="true"
        [rows]="10"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Day</th>
            <th>Avg Price per m2</th>
            <th>Avg Price</th>
            <th>Amount</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-serie
        >
          <tr>
            <td>{{serie.day | date:'yyyy-MM-dd'}}</td>
            <td>{{serie.avgPricePerMeter}}</td>
            <td>{{serie.avgPrice}}</td>
            <td>{{serie.amount}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<br />