@import '../../../styles/colors.scss';
//@use "sass:color";

.container {
    max-width: 1600px;
}

.spacer{
    height: 20px;
}

.listbox-stye{
    height: 200px;
}

.product__name {
    text-align: center;
    padding: 3px;
    cursor: pointer;

    &:hover {
        background-color: $main-15;
    }
}