<br />
<div class="container">
  <div class="grid pb-3">
    <h3>INFLATION</h3>
  </div>
  
  <div class="grid pb-3">
    Value: 5%
  </div>

  <div class="grid pb-3">
  </div>

  <div class="grid pb-3 w-full">
    <div class="col-3">
      <div class="grid pb-3 flex flex-row flex-wrap card-container blue-container">
        <div class="flex align-items-center justify-content-center pr-3">Product:</div>
        <!-- <div class="flex align-items-center justify-content-center pr-3"><p-dropdown [options]="products" [(ngModel)]="selectedProduct" optionLabel="name" placeholder="Select Product"></p-dropdown></div> -->
        <div class="flex align-items-center justify-content-center pr-3">
          <p-listbox 
            [options]="products" 
            [(ngModel)]="selectedProduct" 
            optionLabel="name" 
            optionValue="Select Product"
            
            [filter]="true"
            (onClick)="loadSeries($event)"
            [group]="true"
            optionGroupLabel="siteName"
            optionGroupChildren="products"
            [listStyle]="{'max-height':'60vh'}"></p-listbox>
        </div>
        <!-- <ng-template let-group pTemplate="group">
          <div class="p-d-flex p-ai-center">
              <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'p-mr-2 flag flag-' + group.value" style="width: 20px"/>
              <span>{{group.label}}</span>
          </div>
      </ng-template> -->
        <div class="flex align-items-center justify-content-center"><p-button label="Submit" (click)="loadSeries($event)"></p-button></div>
      </div>
    </div>
    <div class="col">
      <div class="card w-full">
        <h5>Basic</h5>
        <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
      </div>
    </div>
  </div>
  
</div>

<br />
