<br />
<div class="container">
  <div class="grid pb-3">
    <h3>INFLATION</h3>
  </div>
  
  <div class="grid pb-3">
    Value: 5%
  </div>

  <div class="grid pb-3">
  </div>

  <div class="grid pb-3 w-full">
    <div class="col-3">
      <div class="grid mt-1">
        <div class="flex align-items-center justify-content-center pr-3">
          <p-listbox 
            [options]="products" 
            [(ngModel)]="selectedProduct" 
            [group]="true"
            optionGroupLabel="siteName"
            optionGroupChildren="products"
            optionLabel="name" 
            optionValue="id"
            [filter]="true"
            (onClick)="loadSeries($event)"
            [listStyle]="{'max-height':'60vh'}"></p-listbox>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card w-full">
        <h5>{{selectedProduct?.name}}</h5>
        <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
      </div>
    </div>
  </div>
  
</div>

<br />
