<nav class="navbar">
  <div class="navbar__items">
    <div class="navbar__item" routerLink="/home" routerLinkActive="navbar__item--active">Home</div>
    <div class="navbar__item" routerLink="/flats" routerLinkActive="navbar__item--active">Flats</div>
    <div class="navbar__item" routerLink="/inflation" routerLinkActive="navbar__item--active">Inflation</div>
  </div>

  <div class="">
    <div class="">
      <!-- <button class="col p-button-rounded p-button-warning" pButton pRipple type="button" icon="pi pi-sign-out" (click)="clickx()"></button> -->
      <pi-login *ngIf="identityService.isLoggedOut()"></pi-login>
      <button *ngIf="identityService.isLoggedIn()" (click)="identityService.logout()">Log out</button>
    </div>
  </div>
</nav>
